<base href="/">
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href='/'>Angular 1.x + Airship CMS</a>
      <a class="nav-item" href='/'>Setup</a>
      <a class="nav-item" href='/styling'>Styling</a>
      <a class="nav-item" href='/airship-schema'>Airship Schema</a>
      <a class="nav-item" href='/angular-tutorial'>Angular Tutorial</a>
      <a class="nav-item" href='/elements'>Elements</a>
    </div>
      <a class="nav-item is-tab" href=""><img src="/assets/media/github-icon.svg"></a>
    </div>
  </div>
</nav>
<div ng-app="app">
  <ng-view></ng-view>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="assets/scripts/app.js"></script>