.box {
  background-color: #D7E3E6;
  color: #67777B;
  font-weight: bold;
}

nav {
  margin: 20px;
  padding: 0px;
}

.nav-title {
  color: #C0002C;
  display: inline-block;
  font-size: 20px !important;
}

.nav-title:hover {
  color: #C0002C;
}

.body {
  color: #8A9A9E;
}
.body h1,
.body h2 {
  color: #C0002C;
}

/*SETUP*/
.container {
  max-width: 960px;
  letter-spacing: .5px;
  line-height: 20px;
}

.container p {
  margin-top: 30px;
}

.summary {
  text-align: center;
  background: #C2002E;
  color: #FFFFFF;
  max-width: 960px;
  border-radius: 5px;
  padding: 100px;
  font-size: 20px;
  margin-bottom: 30px;
}

#airship-logo g,
#airship-logo path {
  fill: #FF8BA9;
}

.summary .title {
  color: #FFFFFF;
  margin: 20px;
}

/*ELEMENTS*/

.image {
  background-color: #D7E3E6;
  padding: 50px;
}

.card p {
  margin: 0;
}

/*ELEMENT*/

.element-details,
.element-detail-image {
  display: inline-block;
  vertical-align: top;
}

.element-details {
  padding: 20px;
  color: #8A9A9E;
}

.element-details h4,
.element-details h1 {
  color: #8A9A9E;
}