<nav class="nav">
  <div class="container">
    <a class="nav-title title is-tab" href='/'>Angular 1.x + Airship CMS</a>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item" href='/'>Setup</a>
      <a class="nav-item active" href='/styling'>Styling</a>
      <a class="nav-item" href='/airship-schema'>Airship Schema</a>
      <a class="nav-item" href='/angular-tutorial'>Angular Tutorial</a>
      <a class="nav-item" href='/elements'>Elements</a>
    </div>
    <a class="nav-item is-tab github" href="https://github.com/AirshipCMS/angular-1.airshipcms.io"><img src="/assets/media/github-icon.svg"></a>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    </div>
  </div>
</nav>
<div>
	<div class='container content'>
		<p>Page Not Found</p>
	</div>
</div>
<script src="assets/scripts/nav.js"></script>