<nav class="nav">
  <div class="container">
    <a class="nav-title title is-tab" href='/'>Angular 1.x + Airship CMS</a>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item" href='/'>Setup</a>
      <a class="nav-item" href='/styling'>Styling</a>
      <a class="nav-item" href='/airship-schema'>Airship Schema</a>
      <a class="nav-item" href='/angular-tutorial'>Angular Tutorial</a>
      <a class="nav-item active" href='/elements'>Elements</a>
    </div>
    <a class="nav-item is-tab github" href=""><img src="/assets/media/github-icon.svg"></a>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    </div>
  </div>
</nav>
<div class='container'>
  <div class='columns' ng-repeat='element in elements track by $index' ng-if='$index % 4 === 0'>
    <a href='/elements/{{ elements[i].id }}' class='column is-3 element' ng-repeat='i in [$index, $index + 1, $index + 2, $index + 3]'>
      <div class='card'>
        <div class='card-image'>
          <figure class="image">
                  <img src="{{ elements[i].image.value[0].thumbnail_url }}" alt="{{ elements[i].value[0].file_name }}">
              </figure>
            </div>
            <div class='card-content'>
              <div class="media-content">
                <p class="title is-4">{{ elements[i].name.value }}</p>
              </div>
            </div>
      </div>
    </a>
  </div>
</div>
<script src="assets/scripts/nav.js"></script>