<nav class="nav">
  <div class="container">
    <a class="nav-title title is-tab" href='/'>Angular 1.x + Airship CMS</a>
    <div class="nav-right nav-menu" id="nav-menu">
      <a ng-class="{'is-active': active===''}" class="nav-item" href='/'>Setup</a>
      <a ng-class="{'is-active': active==='styling'}" class="nav-item" href='/styling'>Styling</a>
      <a ng-class="{'is-active': active==='airship-schema'}" class="nav-item" href='/airship-schema'>Airship Schema</a>
      <a ng-class="{'is-active': active==='angular-tutorial'}" class="nav-item" href='/angular-tutorial'>Angular Tutorial</a>
      <a ng-class="{'is-active': active==='elements'}" class="nav-item" href='/elements'>Elements</a>
    </div>
    <nav-github class='github'></nav-github>
    <nav-toggle></nav-toggle>
  </div>
</nav>